[Unit]
Description=SEPTA Regional Rail Data

[Service]
Type=simple

#
# Restart after a 5 second pause, this should keep us from hitting a 
# rate limit if there are DNS issues.
#
RestartSec=5

User=nobody
Group=nogroup

#
# Got this idea for redirecting output from https://stackoverflow.com/a/37595720/196073
#
# It's not the most elegant, but it works for now.
#
ExecStart=/bin/sh -c "/usr/local/bin/septa-get-regional-rail-data-wrapper.sh >> /var/log/septa-stats"

Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target

